<head>
  <link rel="stylesheet" href="assets/css/viewCard.css">

</head>
<input id="uid" name="uid" type="hidden" value="<%= session[:uid] %>">
<div class="content-wrapper">
  <!--  <div class="container">-->
  <div class="container">
    <!-- Card Lists -->
    <div class="row row-cols-2 row-cols-md-3 g-4" id="card-results">
    </div>
    <div class="row fixed-row pagination-container">
      <div class="col pagination-here align-self-center">
      </div>
    </div>
  </div>


  <!-- Card Modal -->
  <div class="modal fade" id="cardViewModal" tabindex="-1" role="dialog" aria-labelledby="cardViewModalLabel" aria-hidden="true" data-toggle="modal" data-target="delete-card-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content" id="card-modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardViewModalLabel">Card: </h5>
          <input type="text" class="form-control card-view-input" id="card-view-title">
          <button type="button" class="close" data-dismiss="modal" id="close-card-detail-btn" aria-label="Close">
            <span aria-hidden="true" class="close-button">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Source</label>
                  <input type="text" class="form-control card-view-input2" id="card-view-source">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description</label>
                  <textarea class="form-control card-view-input2" id="card-view-description"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Comment</label>
                  <div class="row">
                    <!-- My comment -->
                    <div class="col-md-2 col-sm-2 card-comment-avatar-container">
                      <img class="img-xs rounded-circle" src="<%=session[:profile]['avatar'] %>" alt="avatar" id="comment-img-path">
                    </div>

                    <!-- Send Comments Out -->
                    <div class="col-md-10 col-sm-10 card-comment-container">
                      <textarea id="card-view-comment" class="card-comment" placeholder="Write your comment..."></textarea>
                      <button class="btn btn-inverse-secondary float-end" id="comment-save-btn" onclick="sendComment()">Save</button>
                    </div>

                    <!-- Other comments -->
                    <div class="col-12" id="comment-area" style="overflow-y:scroll; height: 200px;">
                      <!-- Display the comment -->
                      <!-- ================ -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 use-time-container">
                  <p class="item-title">Used time</p>
                  <span id="card-view-used-time"></span>
                  <br>
                  <br>
                </div>
                <div class="col-md-12 action-container">
                  <p class="item-title">Actions</p>
                  <ul class="list-group action-list-group">
                    <li class="list-group-item action-item" id="edit-save-btn" onclick="editCard()">
                      <i class="mdi mdi-border-color action-icon"></i>
                      Save edit changes
                    </li>
                    <li class="list-group-item action-item" id="finish-card-btn" onclick="finishCard()">
                      <i class="mdi mdi-check-circle"></i>
                      Finish!
                    </li>
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#archive-card-modal" id="archive-card-modal-btn">
                      <i class="mdi mdi-archive action-icon"></i>
                      Archive
                    </li>
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#copy-card-modal" id="copy-card-modal-btn">
                      <i class="mdi mdi-content-copy action-icon"></i>
                      Copy
                    </li>
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#delete-card-modal" id="delete-save-btn">
                      <i class="mdi mdi-delete action-icon"></i>
                      Delete
                    </li>
                    <input hidden id="delete-card-cid" >
                    <li class="list-group-item action-item" data-toggle="modal" data-target="#userGroupModal" id="share-card-btn">
                      <i class="mdi mdi-share-variant action-icon"></i>
                      Share
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="mr-auto create-time-text">
            Created time
            <span id="card-view-create-time">11:59 10/31/2022</span>
          </div>
          <i class="mdi mdi-star-outline star-icon" onclick="changeStarIcon()">
          </i>
          <span class="star-text" id="card-view-star">Stars </span>
        </div>
      </div>
    </div>
  </div>


  <!-- userGroupModal -->
  <div class="modal fade" id="userGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Select group(s) to share this card: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-md-12">
          <p class="alert-warning" id="share-card-notice"></p>
        </div>
        <div class="modal-body" id="group-results">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="share_button" onclick="shareCard()">Share</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete Confirmation Modal -->
  <div class="modal fade bd-example-modal-sm" id="delete-card-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete this card?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-delete-card-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="delete-card-btn" onclick="deleteCard()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Copy Card Modal -->
  <div class="modal fade bd-example-modal-sm" id="copy-card-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to copy this card?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-copy-card-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="copy-card-btn" onclick="copyCard()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Archive Card Modal -->
  <div class="modal fade bd-example-modal-sm" id="archive-card-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to archive this card?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-archive-card-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="archive-card-btn" onclick="archiveCard()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Notice Modal -->
  <div class="modal fade" id="notice-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="description"><%=flash[:main_notice] %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function() {
        <%unless flash[:main_notice].nil? %>
        show_notice()
        <%end %>
    });
    function show_notice() {
        $("#notice-modal").modal('show')
        setTimeout("$('#card-view-modal').modal('hide')", 800);
        setTimeout("$('#delete-card-modal').modal('hide')", 800);
        setTimeout("$('#copy-card-modal').modal('hide')", 800);
    }
</script>
<script src="assets/js/view-card.js"></script>



