<head>
  <style>
      input:read-only {
          background: grey !important;
          color: whitesmoke !important;
      }
  </style>
</head>
<div class="content-wrapper">
  <div class="col-md-6 grid-margin stretch-card" style="margin-left: 25%">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Your Password</h4>
        <form class="forms-sample" action="/user/change_password" method="post">
          <input type="hidden" name="uid" value="<%=session[:uid] %>">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" readonly class="form-control" id="username" value="<%=session[:profile]["username"] %>">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input readonly type="email" class="form-control" id="email" value="<%=session[:email] %>">
          </div>
          <div class="form-group">
            <label for="o-pass">Original Password</label>
            <input type="password" class="form-control" id="o-pass" name="o_pass" placeholder="Original Password">
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="c-pass">Confirm Password</label>
            <input type="password" class="form-control" id="c-pass" name="c_pass" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>