<!DOCTYPE html>
<html>
<head>
  <title>LeetGroup User Login & Signup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="cont">
  <div class="form sign-in">
    <form action="/user/login" method="post">
      <h2>Sign In</h2>
      <p class="alert-warning" id="l-notice"></p>
      <label>
        <span>Username</span>
        <input type="text" name="username">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
      <button class="submit" type="submit">Sign In</button>
    </form>
    <p class="forgot-pass">Forgot Username?</p>
    <p class="forgot-pass">Forgot Password ?</p>

    <div class="social-media">
      <ul>
        <li><img src="../images/facebook.png"></li>
        <li><img src="../images/twitter.png"></li>
        <li><img src="../images/linkedin.png"></li>
        <li><img src="../images/instagram.png"></li>
      </ul>
    </div>
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img-text m-up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img-text m-in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img-btn">
        <span class="m-up">Sign Up</span>
        <span class="m-in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Sign Up</h2>
      <p class="alert-warning" id="r-notice" style="align-content: center"></p>
      <label>
        <span>Username</span>
        <input type="text" id="r-i-username">
      </label>
      <label>
        <span>Email</span>
        <input type="email" id="r-i-email">
      </label>
      <label>
        <span>Password</span>
        <input type="password" id="r-i-password">
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password" id="r-i-repass">
      </label>
      <button type="button" class="submit" onclick="submit_register()" id="register-btn">Sign Up Now</button>
    </div>
    <!--register form-->
    <form style="display: none" action="/user/create" method="post" id="register">
      <input name="username" id="r-username" type="text">
      <input name="email" id="r-email" type="text">
      <input name="password" id="r-password" type="text">
    </form>
  </div>
</div>
<script>
    <%if @login_type == 'register' %>
    document.querySelector('.cont').classList.toggle('s-signup')
    <%end %>
    document.querySelector('.img-btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s-signup')
        }
    );
    <%if flash[:r_notice] != nil %>
    console.log('<%= flash[:r_notice] %>')
    $('#r-notice').text('<%=flash[:r_notice]%>')
    <%end %>
    <%if flash[:l_notice] != nil %>
    $('#l-notice').text('<%=flash[:l_notice]%>')
    <%end %>

    function submit_register() {
        const pass = $('#r-i-password').val()
        const re_pass = $('#r-i-repass').val()
        const notice = $('#r-notice')
        if (pass === null || pass.length === 0) {
            notice.text('Input password cannot be empty')
            return
        }
        if (pass !== re_pass) {
            notice.text('Input password is not consistent')
            return
        }
        const email = $('#r-i-email').val()
        if (email === null || email.length === 0) {
            notice.text('Input email cannot be empty')
            return;
        }
        const username = $('#r-i-username').val()
        if (username === null || username.length === 0) {
            notice.text('Input username cannot be empty')
            return;
        }
        $('#r-username').val(username)
        $('#r-email').val(email)
        $('#r-password').val(pass)
        $('#register').submit()
    }
</script>
</body>
</html>