.clear-padding {
    padding:0;
}

#modal-close-btn {
    color: whitesmoke;
}

#create-card-btn-round {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.card-input {
    color: whitesmoke;
}

.card-input:focus {
    color:whitesmoke;
}

#services-events-content {
    height: 15em;
    overflow-y: scroll;
}

.dropdown-menu {
    z-index: 1000000 !important;
}


