/* profile summary style*/
.profile-img-div {
    padding-top: 30px;
    vertical-align: center;
}


.profile-list-item {
    background: rgb(20, 21, 27);
    color: whitesmoke;
}


.profile-user-fullname {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0!important;
}

.profile-user-email {
    font-size: 12px;
}

/* profile page style*/
.profile-title{
    padding-bottom: 20px;
}

.profile-container {
    margin-bottom: 0 !important;
    height: 20%;
}

.profile-header-bar{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.profile-header-container {
    height: 50px;
}

.profile-input {
    color: white;
}
.flex-grow {
    vertical-align: center;
}