
/* card general view style */
.card-details-btn:hover {
    color: #151515 !important;
}

.fixed-row {
    position: fixed;
    bottom: 50px;
}


/* general style */
#card-modal-content {
    color: white;
    width: 710px;
    margin: 0 auto;
    min-height: 550px;

}

.close-button {
    color: white;
}

#cardViewModalLabel {
    font-size: 18px;
    font-weight: bold;
}

#delete-card-modal {
    z-index: 10000 !important;
}


/* card view left panel style*/
#card-view-comment {
    width: 100%;
    margin:0;
    font-size: 14px;
    transition: 0.27s;
    height: 28px;
    border-radius: 2px;
    margin-top: 5px;
}

#comment-save-btn {
    visibility: hidden;
    /*border: none;*/
    /*background: none;*/
}

#comment-save-btn:hover {
    color: black;
}

#card-view-comment:focus + button {
    visibility: visible;
}

#card-view-comment:focus {
    height: 90px;
}

.card-comment-avatar-container {
    padding-right: 0;
}

.card-comment-container {
    padding-left: 0;
}

.col-form-label {
    font-weight: bold;

}

.form-control:focus {
    color: whitesmoke;
}


/* card view action list group style */
.use-time-container {
    font-size: 12px;
    margin-top: 10px;
}

.list-group {
    font-size: 12px;
}

.list-group-item {
    background-color: #5b5b5b;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 0;
    margin-top: 7px;
    margin-bottom: 0;
    color: white;
    border-radius: 2px !important;
}

.list-group-item:hover {
    cursor: pointer;
    color: black;
}

.action-icon {
    vertical-align: center;
    background-position: center !important;
    /*position:relative;*/
    /*display: block;*/
    height: 25px !important;
}

.item-title {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* card footer style */
.star-icon {
    margin-top: 6px;
    margin-right: 0 !important;
}

.star-icon:hover {
    cursor:pointer;
}

.star-text {
    font-size: 12px;
    color: grey;
}

.create-time-text {
    font-size: 12px;
    color: grey;
    width: 70%;
}

#create-time {
    font-size: 11px;
}



